matplotlib==3.0.3
pyqt5
numpy
pandas
ccxt==1.18.977
ta-lib==0.4.17
python-binance==0.7.1
kraken-wsclient-py
bitfinex-v2
sklearn
psutil
Twisted==19.7.0
oandapyV20
requests
arrow
pywin32 (in case of windows)